* {
  font-family: 'Open Sans', sans-serif;
}

body, button, input, select, textarea {
  color: #333;
}

a {
  color: #12C;
}

a:visited {
  color: #61C;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  color: #c00; outline: 0;
}

img {
  border: 0; max-width: 100%;
}

header, footer, .container {
  max-width: 45em; margin: 0 auto;
}

.content li {
  list-style-type: none; font-size: 1.1em;
}

li img {
  float:left; padding-right: 1em;
}

li p {
  font-size: 0.9em; font-style: italic;
}